<!DOCTYPE html>
<html lang='en' dir='ltr'>

<head>
  <meta charset='utf-8'>
  <title>Calum Nguyen</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
  <link rel='stylesheet' href='/CSS/styles.css'>
  <link rel='icon' href='/Images/favicon.ico'>
  <link href='https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap' rel='stylesheet'>
  <script src='https://kit.fontawesome.com/b960960fe5.js' crossorigin='anonymous'></script>
</head>

<body>
  <nav>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary btn-small dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=language%></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/connect">English</a>
        <a class="dropdown-item" href="/vnm/connect">Tiếng Việt</a>
      </div>
    </div>

    <ul class="nav-links">

      <li><a class="nav-tags" id="about" href="./hello"><%=about%></a></li>
      <li><a class="nav-tags" id="connect" href="./connect"><%=connect%></a></li>
      <li><a class="nav-tags" id="portfolio" href="./portfolio"><%=portfolio%></a></li>
    </ul>
  </nav>

<section class="colored-section">
  <form class="" action="index.html" method="post">
    <div class="field-fname active">
      <input type="text" require />
      <i class="fas fa-arrow-circle-down next"></i>
    </div>
    <div class="field-lname inactive">
      <input type="text" require />
      <i class="fas fa-arrow-circle-down"></i>
    </div>
    <div class="field-email inactive">
      <input type="email" require />
      <i class="fas fa-arrow-circle-down"></i>
    </div>
    <div class="field-like inactive">
      <input type="text"/>
      <i class="fas fa-arrow-circle-down"></i>
    </div>
    <div class="field-message inactive">
      <input type="text"/>
      <i class="fas fa-arrow-circle-down"></i>
    </div>
  </form>
</section>

  <div class="bottom-container">
    <a class="footer-link" href="https://github.com/calumengee/calumnguyenOFFICIAL"><%=git%></a>
    <p class="copyright">© 2020 Calum Nguyen.</p>
  </div>

  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  <script src='/JS/connect.js' charset='utf-8'></script>
  <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>
</body>

</html>
