<!DOCTYPE html>
<html lang='en' dir='ltr'>

<head>
  <meta charset='utf-8'>
  <title>Calum Nguyen</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
  <link rel='stylesheet' href='/CSS/styles.css'>
  <link rel='icon' href='/Images/favicon.ico'>
  <link href='https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap' rel='stylesheet'>
  <script src='https://kit.fontawesome.com/b960960fe5.js' crossorigin='anonymous'></script>
</head>

<body>
  <nav>
    <div class="hamburger">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary btn-small dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%=language%></button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="/">English</a>
        <a class="dropdown-item" href="/vnm">Tiếng Việt</a>
      </div>
    </div>

    <ul class="nav-links">

      <li><a class="nav-tags" id="about"><%=about%></a></li>
      <li><a class="nav-tags" id="connect"><%=connect%></a></li>
      <li><a class="nav-tags" id="portfolio"><%=portfolio%></a></li>
    </ul>
  </nav>

  <section class="colored-section" id="title">
    <div class='row'>
      <div class='col-lg-6'>
        <h1 class='index-description'><%=hello%><span class="calum">Calum</span>. <%=helloTwo%></h1>
        <a id="link">
          <button type='button' class='btn btn-outline-light btn-lg introduction-button'><%=intro%><i class="fas fa-arrow-circle-right"></i></button>
        </a>
        <a href="DOCS/CalumNguyen_Resume_2020.pdf" download="Resume-CalumNguyen">
          <button type='button' class='btn btn-dark btn-lg introduction-button' ><%=introTwo%><i class="fas fa-arrow-circle-down"></i></button>
        </a>
      </div>
      <div class='col-lg-6'>
        <img class='profile-image' src='Images/profile.png' title="This image was brought to you by VienYen HoPham." alt='profile-image'>
      </div>
    </div>
  </section>
  <section class="noncolored-section">


  </section>
  <div class="bottom-container">
    <a class="footer-link" href="https://github.com/calumengee/calumnguyenOFFICIAL"><%=git%></a>
    <p class="copyright">© 2020 Calum Nguyen.</p>
  </div>





  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  <script src='/JS/main.js' charset='utf-8'></script>
  <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>

</body>

</html>
