<%- include("partials/header"); -%>

<!-- Main body -->

  <section class="colored-section" id="title">
    <div class='row'>

      <!-- Introduction "Hello My name is Calum" with language-specific contents through EJS-->
      <div class='col-lg-6'>
        <h1 class='index-description'><%=hello%>. <%=helloTwo%></h1>

      <!-- Navigation buttons with language-specific contents through EJS-->
        <a id="link">
          <button type='button' class='btn btn-outline-light btn-lg introduction-button'><%=intro%><i class="fas fa-arrow-circle-right"></i></button>
        </a>
        <a href="DOCS/CalumNguyen_Resume_2020.pdf" download="Resume-CalumNguyen">
          <button type='button' class='btn btn-dark btn-lg introduction-button' href="./connect" ><%=introTwo%><i class="fas fa-arrow-circle-down"></i></button>
        </a>
      </div>

      <!-- Profile Image-->
      <div class='col-lg-6'>
        <img class='profile-image' src='../Images/profile.png' title="This image was brought to you by VienYen HoPham." alt='profile-image'>
      </div>
    </div>
  </section>

<!-- End main body -->

<%- include("partials/footer"); -%>


  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
  <script src='/JS/main.js' charset='utf-8'></script>
  <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></script>
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous'></script>

</body>

</html>
